@charset "utf-8";

/* css 최종 */

@import url(./reset.css);

h1{
    text-align: center;
    border-bottom: 1px solid #000;
}


#numBox{
    text-align: center;
    height: 700px;
    border: 1px solid #000;
}

.num{
    display: flex;
    justify-content: center;
    
}

.num li, .num a{
    width: 100px;
    height: 70px;
    border: 1px solid rgb(153, 188, 228);
}

.num li:hover{
    cursor: pointer;
}

.num li, .num a{
    float: left;
    width: 100px;
    height: 50px;
    background: white;
    border-radius: 20px;

    box-shadow: 3px 3px 3px black;

    transition-duration: .3s;
}

.num li:active, .num a:active{
    margin-left: 5px;
    margin-top: 5px;
    box-shadow: none;
    background: gray;
}

.num a{
    background: rgb(153, 188, 228);
}

.num:first-child{
    margin-top: 50px;
}

.result{
    border: 1px solid #000;
    width: 50%;
    height: 30px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

@media screen and (max-width:600px){
    .result{
        width: 70%;
    }
}
@media screen and (max-width:400px){
    .result{
        width: 90%;
    }
}
@media screen and (max-width:310px){
    .result{
        height: 50px;
    }
}
@media screen and (max-width:165px){
    .result{
        height: 60px;
    }
}