@charset "utf-8";

@import url(./reset.css);

h1{
    text-align: center;
    border-bottom: 1px solid #000;
}


#numBox{
    text-align: center;
    height: 700px;
    border: 1px solid #000;
}

.num{
    display: flex;
    justify-content: center;
    
}

.num li{
    width: 100px;
    height: 70px;
    border: 1px solid rgb(153, 188, 228);
}

.num:first-child{
    margin-top: 50px;
}